

/*estilos para la tabla*/
table th {
    background-color: #053F72 !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    display: flex;
    position: absolute !important;
}